<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>214307528448-1njqfcpc635iuml2sf27chdv8og87qje.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.214307528448-1njqfcpc635iuml2sf27chdv8og87qje</string>
	<key>API_KEY</key>
	<string>AIzaSyANvlaYrztuy5x7ChxPLigYqNeNIhiEro4</string>
	<key>GCM_SENDER_ID</key>
	<string>214307528448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.productShopApi</string>
	<key>PROJECT_ID</key>
	<string>shop-app-a30c7</string>
	<key>STORAGE_BUCKET</key>
	<string>shop-app-a30c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:214307528448:ios:35fffbd88f727042a95de5</string>
</dict>
</plist>